// THEME COLORS COLORS

$primaryColor: #242337;
$secondaryColor: #f6f6f7;
$tertiaryColor:  #dff2fc;

// TEXT COLORS

$primaryText: #e9e9eb;

// BOOTSTRAP OVERRIDE

$theme-colors: (
  "primary": #242337
);