/* THEME COLORS */

$primaryColor: #242337;
$tertiaryColor:  #f6f6f7;
$secondaryColor: #656573;

/* TEXT COLORS */

$primaryText: #e9e9eb;

/* BOOTSTRAP OVERRIDE */

$theme-colors: (
  "primary": #242337
);