@import '_layout.scss';
@import '_text.scss';

html {
  background-color: $backgroundColor;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

@import "~bootstrap/scss/bootstrap.scss";