

nav a {
  color: #242337;
  text-decoration: none;
  margin: .3rem;
  font-weight: 400;
  
}

.nav-item {
  text-align: left;
}

.navigationBar {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ffffff;
}

nav a.active {
  color: #39384b;
  font-weight: bold;
  /* border-bottom: 5rem; */
  box-sizing: border-box;
}

nav a.active:hover {
  color: #656573 !important;
}

nav a:hover {
  text-decoration: none;
  color: #656573;
}

.personal-logo {
  font-family: Kanit;
  font-weight: 400;
  font-size: large;
  color:  #242337;
  vertical-align: middle;
}