/** 
 * Styling for the ProjectCard component:
 */

.project-description-container {
  margin-top: 2%;
  margin-bottom: 5%;
} 

.project-description {
  display: flex;
  width: 80%;
  margin-left: 10%;
  text-align: left;
  font-size: small;
}

.project-title {
  width: 80%;
  margin-left: 10%;
  margin-bottom: 1%;
  text-align: center;
}

.project-img-container {
  display: flex;
  width: 80%;
  margin-left: 10%;
  align-items: center;
}

.carousel-item > img { 
  width: 100%; 
  border-radius: 5px;
}

.carousel-control-prev,.carousel-control-next {
  cursor:pointer;
}

.carousel-caption {
  font-size: 3vw;
  letter-spacing: .5px;
    text-shadow: -1px 1px 0 #000,
				  1px 1px 0 #000,
				 1px -1px 0 #000,
				-1px -1px 0 #000;
}

 

 @media screen and (min-width: 760px) {
  .project-container {
    display: inline-block;
    width: 100%;
    padding: 1%;
  }
 
  .project-description-container {
    display: inline-block;
    width: 60%;
    text-align: left;
  }
  
  .project-title {
    text-align: center;
  }

  .project-description {
    display: inline-block;
    width: 80%;
    text-align: left;
    font-size: small;
  }


  .project-img-container {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    position: relative;
    
  }

  .carousel-item > img { 
    width: 100%; 
    border-radius: 5px;
  }

  .carousel-control-prev,.carousel-control-next {
    cursor:pointer;
  }

  .carousel-caption {
    font-size: 1vw;
    letter-spacing: 1px;
      text-shadow: -1px 1px 0 #000,
            1px 1px 0 #000,
           1px -1px 0 #000,
          -1px -1px 0 #000;
  }

}